@font-face {
  font-family: 'ZT Chintzy Black';
  src: url('../fonts/ZTChintzy-Black.woff2') format('woff2'),
      url('../fonts/ZTChintzy-Black.woff') format('woff');
  font-weight: 900;
  font-style: black;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Chintzy Bold';
  src: url('../fonts/ZTChintzy-Bold.woff2') format('woff2'),
      url('../fonts/ZTChintzy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Chintzy Heavy';
  src: url('../fonts/ZTChintzy-Heavy.woff2') format('woff2'),
      url('../fonts/ZTChintzy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Chintzy ExtBd';
  src: url('../fonts/ZTChintzy-ExtraBold.woff2') format('woff2'),
      url('../fonts/ZTChintzy-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Chintzy Light';
  src: url('../fonts/ZTChintzy-Light.woff2') format('woff2'),
      url('../fonts/ZTChintzy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Chintzy Thin';
  src: url('../fonts/ZTChintzy-Thin.woff2') format('woff2'),
      url('../fonts/ZTChintzy-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Chintzy SemBd';
  src: url('../fonts/ZTChintzy-SemiBold.woff2') format('woff2'),
      url('../fonts/ZTChintzy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Chintzy Med';
  src: url('../fonts/ZTChintzy-Medium.woff2') format('woff2'),
      url('../fonts/ZTChintzy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ZT Chintzy Reg';
  src: url('../fonts/ZTChintzy-Regular.woff2') format('woff2'),
      url('../fonts/ZTChintzy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

